:root {
    --bg: #00488b;
    --primary: #006fb9;
    --secondary: #4cacec;
}

body {
    background-color: var(--bg);
    font-family: "Nunito", sans-serif;
    color: white;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}